<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h2>My Shopping Cart</h2>
    </div>
    <div class="col-sm-6">
      <h2 class="pull-right">Order total: {{bag.total | currency}}</h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <table class="table-bordered">
    <thead>
      <th>Product</th>
      <th>Quantity</th>
      <th>Sub-total</th>
    </thead>
    <tbody>
      <tr ng-repeat="shake in bag.contents">
        <td>
          <h3 class="col-6-sm">{{shake.name}}</h3>
          <div class="row">
            <img src="{{shake.imageUrl}}" alt="no image available" style="margin-left: 15px;"/>
          </div>
          <label>Caffeine Scale: </label>
          {{shake.caffeineScale}} <br>
          <label>Ingredients: </label>
          {{shake.ingredients}} <br>
          <label>Rating: </label>
          {{shake.rating}} <br>
        </td>
        <td>
          <span ng-show="shake.showQuant">{{shake.quant}}</span>
          <input class="quantInput" ng-model="shake.quant" type="number" ng-show="!shake.showQuant">
        </td>
        <td>{{(shake.price | decimal) * shake.quant | currency}}</td>
        <td>
          <button ng-click="bag.toggleQuant(shake)" ng-show="shake.showQuant" class="btn btn-warning">Edit</button>
          <button ng-click="bag.toggleQuant(shake)" ng-show="!shake.showQuant" class="btn btn-warning">Save</button>
          <button ng-click="bag.removeItem(shake)" class="btn btn-danger">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
