<div class="container-fluid">
  <div class="row">
    <div class="catSearch col-sm-4">
      <label for="category">Search by category: </label>
        <select name="category" id="category" ng-model="obj.catSearch">
          <option ng-repeat="category in obj.categories" value="{{category}}">{{category}}</option>
        </select>
    </div>
    <div class="nameSearch col-sm-4">
      <label for="nameSearch">Search by name: </label>
        <input type="text" name="nameSearch" id="nameSearch" ng-model="obj.nameSearch" />
    </div>
    <a class="col-sm-2.5 btn btn-danger pull-right checkout" href="#/bag">Checkout | Bag: {{obj.contents}}</a>
  </div>
</div>
  <table class="table-bordered container">
    <thead class="row">
      <th class="col-sm-2">Shakes</th>
      <th class="col-sm-6">Information</th>
      <th class="col-sm-4">
        Sort By Price:
        <select name="priceSort" ng-model="obj.priceSort">
          <option value="price">Low-to-High</option>
          <option value="-price">High-to-Low</option>
        </select>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="shake in obj.data | orderBy: obj.priceSort | filter: {name: obj.nameSearch, categories: obj.catSearch}">
        <td><img src="{{shake.imageUrl}}" alt="no image available" /></td>
        <td>
          <shake-card></shake-card>
        </td>
        <td>
          <div class="row">
            <h3 class="col-sm-5">Quantity: </h3>
            <select  class="col-sm-2 quantSelect" ng-model="shake.quant" style="display:inline-block;">
              <option ng-repeat="num in obj.quantNums" value={{num}}>{{num}}</option>
            </select>
            <button class="btn btn-warning pull-right" ng-click="obj.addToBag(shake)">{{shake.buttonTxt || "Add To Bag"}}</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <small>Milkshake icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
