body {
  background-color: #085060;
  color: #D9A31A;
}

#guarantee {
  text-align: center;
  font-size: 1.5vw;
  color: #085060;
  background-color: #D9A31A
}

#page-title {
  font-style: italic;
  font-weight: bold;
  font-family: Milkshake;
  font-size: 5vw;
}

nav div {
  background-color: #218AAC;
}

.navbar-default .navbar-nav>li>a {
    color: #D9A31A;
}

nav.navbar {
  border: none;
  border-radius: 10px;
}

.checkout {
  margin-bottom: 1vw;
}

.btn-danger {
  background-color: #E1311A;
}

.btn-warning {
  background-color: #D9A31A;
}

thead {
  border: none !important;
}

.table-bordered {
  border: none;
}

th, td {
  padding: 1vw;
  vertical-align: top;
  border-color: #218AAC !important;
}

.quantSelect {
  margin-top: 25px;
  margin-left: 5px;
}

td div button {
  margin-top: 15px;
  margin-right: 10px;
}

.quantInput {
  width: 60px;
}

img {
  width: 235px;
  height: 219px;
}
